In [10]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

from sklearn.impute import KNNImputer , SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [11]:
df = pd.read_csv("D:\\train (5).csv",usecols=['Pclass','Age','Fare','Survived'])
df

     Survived  Pclass   Age     Fare
0           0       3  22.0   7.2500
1           1       1  38.0  71.2833
2           1       3  26.0   7.9250
3           1       1  35.0  53.1000
4           0       3  35.0   8.0500
..        ...     ...   ...      ...
886         0       2  27.0  13.0000
887         1       1  19.0  30.0000
888         0       3   NaN  23.4500
889         1       1  26.0  30.0000
890         0       3  32.0   7.7500

[891 rows x 4 columns]

In [12]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [13]:
x=df.drop(['Survived'],axis=1)
y=df['Survived']

In [14]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3)

In [15]:
knn = KNNImputer (n_neighbors = 5 , weights="distance")

In [16]:
x_train_trans = knn.fit_transform(x_train)
x_test_trans = knn.fit_transform(x_test)

In [17]:
lr = LogisticRegression()

In [20]:
lr.fit(x_train_trans , y_train)
y_predict = lr.predict(x_test_trans)
accuracy_score(y_test , y_predict)

0.7201492537313433

simple imputer

In [25]:
si = SimpleImputer()
x_train_trans1 = si.fit_transform(x_train)
x_test_trans1 = si.fit_transform(x_test)

lr2 = LogisticRegression()
lr2.fit(x_train_trans1,y_train)

y_predict1 = lr2.predict(x_test_trans1)
accuracy_score(y_test,y_predict1)

0.7201492537313433