In [1]:
import pandas as pd
import numpy as np

In [ ]:
# mean imputation

In [4]:
df = pd.read_csv("D:\\train (5).csv",usecols=['Age'])
df.head(10)

    Age
0  22.0
1  38.0
2  26.0
3  35.0
4  35.0
5   NaN
6  54.0
7   2.0
8  27.0
9  14.0

In [5]:
df.isnull().sum()

Age    177
dtype: int64

In [11]:
df.fillna(df.mean(),inplace=True)
print(df.head(10))
df.isnull().sum()

         Age
0  22.000000
1  38.000000
2  26.000000
3  35.000000
4  35.000000
5  29.699118
6  54.000000
7   2.000000
8  27.000000
9  14.000000

Age    0
dtype: int64

In [ ]:
#