In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("D:\cars (1).csv")
df

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [31]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [33]:
df['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(df.drop(['brand','km_driven','selling_price'],axis=1),
                                                        df['selling_price'],
                                                       test_size =0.3)
x_train

        fuel         owner
2184  Petrol   Third Owner
4059  Petrol   First Owner
2574  Petrol   First Owner
37    Petrol   First Owner
5648  Petrol   First Owner
...      ...           ...
4181  Petrol  Second Owner
1596  Petrol   First Owner
7380  Petrol   First Owner
3745  Diesel   First Owner
2360  Petrol   First Owner

[5689 rows x 2 columns]

In [61]:
x_test

        fuel         owner
5882  Diesel   First Owner
2000  Petrol  Second Owner
2038  Diesel   First Owner
329   Petrol   First Owner
4370  Diesel  Second Owner
...      ...           ...
3683  Diesel   First Owner
2377  Diesel   First Owner
7848  Petrol   First Owner
2424  Petrol   Third Owner
459   Petrol  Second Owner

[2439 rows x 2 columns]

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [65]:
oh = OneHotEncoder(drop='first',sparse_output=False)
oh

OneHotEncoder(drop='first', sparse_output=False)

In [66]:
x_train_1 = oh.fit_transform(x_train[['fuel','owner']])
x_train_1

array([[0., 0., 1., 0., 0., 1.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       ...,
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.]])

In [81]:
# x_test_1 = oh.transform(x_test[['fuel','owner']])
# x_test_1 
oh.fit_transform(x_test[['fuel', 'owner']])

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 1., 0., 0.]])

In [79]:
x_train['owner'].value_counts()

owner
First Owner             3724
Second Owner            1463
Third Owner              384
Fourth & Above Owner     118
Name: count, dtype: int64