In [1]:
import numpy as np 
import pandas as pd 
from sklearn.impute import SimpleImputer

In [33]:
df = pd.read_csv("D:\covid_toy.csv",usecols=['fever'])
df.head(10)

   fever
0  103.0
1  100.0
2  101.0
3   98.0
4  101.0
5    NaN
6  101.0
7    NaN
8  100.0
9  101.0

In [38]:
df.isnull().sum()

fever    10
dtype: int64

In [39]:
# arr = df['fever']

In [49]:
# SimpleImputer(missing_values =df['fever'].isnull(), strategy='mean')
si = SimpleImputer(strategy='mean')
imp = si.fit_transform(df)

In [50]:
imp

array([[103.        ],
       [100.        ],
       [101.        ],
       [ 98.        ],
       [101.        ],
       [100.84444444],
       [101.        ],
       [100.84444444],
       [100.        ],
       [101.        ],
       [100.84444444],
       [ 98.        ],
       [ 99.        ],
       [102.        ],
       [104.        ],
       [103.        ],
       [103.        ],
       [ 98.        ],
       [ 98.        ],
       [100.84444444],
       [ 98.        ],
       [ 98.        ],
       [ 98.        ],
       [ 98.        ],
       [100.        ],
       [100.84444444],
       [100.        ],
       [102.        ],
       [104.        ],
       [100.84444444],
       [101.        ],
       [103.        ],
       [101.        ],
       [ 98.        ],
       [102.        ],
       [102.        ],
       [101.        ],
       [100.        ],
       [101.        ],
       [103.        ],
       [102.        ],
       [100.84444444],
       [100.        ],
       [ 99.        ],
       [102.        ],
       [ 99.        ],
       [101.        ],
       [104.        ],
       [ 99.        ],
       [104.        ],
       [101.        ],
       [100.        ],
       [100.        ],
       [ 98.        ],
       [ 99.        ],
       [101.        ],
       [100.84444444],
       [ 99.        ],
       [ 98.        ],
       [104.        ],
       [102.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [104.        ],
       [102.        ],
       [104.        ],
       [ 99.        ],
       [104.        ],
       [103.        ],
       [101.        ],
       [104.        ],
       [101.        ],
       [ 98.        ],
       [104.        ],
       [102.        ],
       [100.        ],
       [101.        ],
       [100.        ],
       [103.        ],
       [ 99.        ],
       [ 99.        ],
       [ 98.        ],
       [104.        ],
       [ 98.        ],
       [103.        ],
       [104.        ],
       [101.        ],
       [100.        ],
       [103.        ],
       [ 99.        ],
       [100.84444444],
       [102.        ],
       [100.        ],
       [100.84444444],
       [104.        ],
       [101.        ],
       [101.        ],
       [ 98.        ],
       [ 98.        ]])

In [51]:
#fillna mode

In [55]:
df1 = pd.read_csv("D:\\train (5).csv",usecols=['Age'])
df1

      Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [57]:
df1.isnull().sum()

Age    177
dtype: int64

In [65]:
df.fillna(df.mode(),inplace=True)
df

    fever
0   103.0
1   100.0
2   101.0
3    98.0
4   101.0
..    ...
95  104.0
96  101.0
97  101.0
98   98.0
99   98.0

[100 rows x 1 columns]

In [66]:
df.isnull().sum()

fever    0
dtype: int64